.title-image-container img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
}

#wireframe {
    opacity: 50%;
    max-width: 40%;
    top: 47%;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 1.5;
    }

    100% {
        opacity: 0.5;
    }
}

#logo {
    animation: fadeFast 3s;
}

@keyframes fadeFast {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-nav a {
    font-size: 1.3em;
}

body {
    background-color: black;
}